<%- include('../includes/header.ejs', {pageTitle: 'Shop'})  %>

</head>
<body>
    <%- include('../includes/nav.ejs', {activeShop: true})  %>

    <main>
        
    </main>

    <% include('../includes/footer.ejs') %>
